<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnStringNet" 
         providerName="Proveedor de datos .NET Framework para servidor SQL Server" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\PC\Desktop\net-practica\parciales\2017-b\Net.DB.Usuario.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>